body{
  background-color: whitesmoke;
}
h1{
  color: white;
  font-size: 60px;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 80px;
  margin-bottom: 10px;

  
}

#health-goals{
  color: white;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 80px;
  margin-bottom: 10px;
 
}

#start-now{
  color: white;
  background-color: green;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 80px;
  margin-bottom: 10px;
  padding: 10px
}

.hero{
  text-align: left;
  padding: 14rem 0 25rem;
  background-image: url("../img/Keto-food-uno.webp");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  margin-bottom: 50px;
 
}


.container{
  max-width: 1000px;
  border: 5px solid green;
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 50px;
  background-color: peachpuff;
  text-align:center

}

.lists{
  border: 5px solid green;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  background-color: yellow;
  

}
.text-center{
  text-align: center; list-style: inside;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;

}
.columns{
  display: flex;
  max-width: 500px;
  margin: auto;

}
